<h1>Create a new article</h1>

<%= form_with url: "/articles", method: :post do |form| %>
  <div>
    <%= form.label :title, "Title" %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, "Description" %><br>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit  %>
  </div>
<% end %>
